body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

label {
  margin-right: 15px;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.search-container {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #e6e6e6;
  width: 450px;
  padding: 15px;
}

.results {
  cursor: pointer;
  margin-bottom: 5px;
  text-align: center;
  margin-left: 30px;
}

.results:hover {
  font-weight: 500;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
